<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lugassi.wallach.client_android5778_2638_6575">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.AddCustomer" />
        <activity android:name=".controller.AddUser" />
        <activity android:name=".controller.Login" />
        <activity
            android:name=".controller.MainNavigation"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".model.MyService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".model.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="lugassi.wallach.BRANCHES_CHANGED" />
                <action android:name="lugassi.wallach.CARS_CHANGED" />
                <action android:name="lugassi.wallach.RESERVATIONS_CHANGED" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".model.MyContentProvider"
            android:authorities="lugassi.wallach.MyContentProvider"
            android:enabled="true"
            android:exported="true"></provider>
    </application>

</manifest>